---
import RecentGamesTableRow from './RecentGamesTableRow.astro';
import { faker } from '@faker-js/faker';

// API call
const players = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].map((_) => ({
  name: faker.person.fullName(),
  map: faker.location.city(),
  mode: '1v1',
  result: 'Win',
  duration: `${faker.number.int({ min: 1, max: 100 })}m`,
  date: faker.date.past()
}));
---

<div class="relative p-4 md:p-8 lg:px-8">
  <div
    class="flex-auto basis-3/5 overflow-hidden rounded-3xl border border-gray-900 bg-gray-900"
  >
    <div
      class="flex flex-col gap-5 px-6 py-8 sm:p-8 md:flex-row md:items-center"
    >
      <h2
        class="flex flex-row items-center whitespace-nowrap text-2xl font-bold text-zinc-100"
      >
        <span class="ml-3">Recent Games</span>
      </h2>
    </div>
    <div class="overflow-x-auto">
      <table class="table-auto whitespace-nowrap">
        <thead>
          <tr class="text-left text-sm uppercase tracking-wider text-gray-400">
            <th class="pr-3 text-right font-normal">#</th>
            <th class="pr-20 font-normal">Map / Mode / Duration / Result</th>
            <th class="font-normal">Player</th>
            <th class="px-2 font-normal"></th>
            <th class="font-normal">Opponent</th>
            <th class="px-3 font-normal">Date</th>
            <th class="px-3 font-normal"></th>
          </tr>
        </thead>
        <tbody>
          {
            players
              .sort(
                (a, b) =>
                  new Date(b.date).getTime() - new Date(a.date).getTime()
              )
              .map(({ name, date, map, mode, duration, result }, index) => (
                <RecentGamesTableRow
                  position={index + 1}
                  name={name}
                  result={result}
                  date={date}
                  map={map}
                  mode={mode}
                  duration={duration}
                />
              ))
          }
        </tbody>
      </table>
    </div>
    <a
      class="btn group mt-6 inline-flex w-full items-center justify-center gap-2 rounded-md bg-zinc-800/50 px-3 py-2 text-sm font-medium outline-offset-2 transition active:transition-none"
      href="/#"
    >
      Show more games
    </a>
  </div>
</div>
