---
import { faker } from '@faker-js/faker';
import { generateFaction } from '@/utils';

interface Props {
  position: number;
  name: string;
  map: string;
  mode: string;
  result: string;
  duration: string;
  date: Date;
}

interface RecentGame {
  map: string;
  mode: string;
  durration: string | number;
  result: string;
  player: {
    faction: string;
    rating: number;
    ratingChange: number;
  };
  opponent: {
    faction: string;
    rating: number;
    ratingChange: number;
  };
  dateTime: string;
}

const { position, result, name, date, map, mode, duration } = Astro.props;

const playerFaction = generateFaction();
const opponentFaction = generateFaction();
---

<tr class="transition hover:bg-gray-800">
  <td class="text-right text-gray-300 font-bold pr-3 pl-3 w-0 sm:pl-8">
    {position}.
  </td>

  <td class="flex gap-3 items-center py-5 pr-6 w-auto">
    <img
      alt=""
      class="w-20 h-20 inline-block rounded outlineoutline-1 opacity-50 outline-black/70 group-hover:opacity-100 mr-2"
      src={faker.image.urlLoremFlickr({ category: 'food' })}
    />
    <div>
      <div class="font-bold text-yellow-800 whitespace-nowrap">{map}</div>
      <div class="text-sm">
        {mode} - {duration} -{' '}
        <span class="text-green-300 font-bold">{result}</span>
      </div>
    </div>
  </td>

  <td class="px-3 w-auto sm:pr-8">
    <div class="tooltip" data-tip={playerFaction.name}>
      <img
        alt=""
        class="h-10 inline-block rounded outline-1 opacity-50 mr-2"
        src={playerFaction.imgSrc}
      />
    </div>
    <span
      class="cursor-pointer underline-offset-2 text-lg font-bold text-white break-normal hover:underline"
    >
      {name}
    </span>
  </td>

  <td class="items-center gap-3 px-3 w-auto sm:pr-8">
    <div class="flex flex-row justify-center items-center gap-3">
      <span class="flex flex-row justify-center items-center gap-2">
        {faker.number.int({ min: 1500, max: 3000 })}
        <span class="flex flex-row text-green-300">
          {faker.number.int({ min: 10, max: 50 })}
        </span>
      </span>
      <span>vs</span>
      <span class="flex flex-row justify-center items-center gap-2">
        {faker.number.int({ min: 1500, max: 3000 })}
        <span class="flex flex-row text-red-300">
          {faker.number.int({ min: 10, max: 50 })}
        </span>
      </span>
    </div>
  </td>

  <td class="px-3 w-auto sm:pr-8">
    <div class="tooltip" data-tip={opponentFaction.name}>
      <img
        alt=""
        class="h-10 inline-block rounded outline-1 opacity-50 mr-2"
        src={opponentFaction.imgSrc}
      />
    </div>
    <span
      class="cursor-pointer underline-offset-2 text-lg font-bold text-white break-normal hover:underline"
    >
      {name}
    </span>
  </td>

  <td class="text-gray-200 px-3 w-auto sm:pr-8">
    {date.toLocaleDateString('en-GB')}
  </td>

  <td class="text-gray-200 px-3 w-auto sm:pr-8">
    <button class="btn btn-primary flex flex-row justify-center items-center">
      a
    </button>
  </td>
</tr>
