---
import { faker } from '@faker-js/faker';
import { getRandomFromArray } from '@/utils';
import { fractions } from '@/shared/consts';
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow
} from '@/components/ui/table';
import { Tooltip } from '@/components/ui/tooltip';
import type { TFactions } from '@/shared/types';
import { getIconForFaction } from '@/lib/helpers';

export interface IPlayer {
  avatar: string;
  name: string;
  faction: TFactions;
  rating: number;
  winRatio: number;
}

// API call
const players: Array<IPlayer> = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
  .map((_) => ({
    name: faker.person.fullName(),
    avatar: faker.image.avatar(),
    faction: getRandomFromArray(fractions) as TFactions,
    rating: faker.number.int({ min: 500, max: 3000 }),
    winRatio: faker.number.int({ min: 20, max: 100 })
  }))
  .sort((first, second) => second.rating - first.rating);
---

<div
  class="flex-auto basis-3/5 overflow-hidden rounded-3xl border border-gray-900 bg-gray-900"
>
  <div class="flex flex-col gap-5 py-8 px-6 sm:p-8 md:flex-row md:items-center">
    <h2
      class="flex flex-row items-center whitespace-nowrap text-2xl font-bold text-zinc-100"
    >
      <span class="ml-3">Ladder</span>
    </h2>
  </div>
  <Table className="text-white">
    <TableHeader>
      <TableRow>
        <TableHead># Nickname</TableHead>
        <TableHead>Faction</TableHead>
        <TableHead>Rating</TableHead>
        <TableHead className="text-center">Win %</TableHead>
      </TableRow>
    </TableHeader>
    <TableBody>
      {
        players.map((player, idx) => (
          <TableRow key={player.name}>
            <TableCell className="flex flex-row gap-3 items-center">
              {idx + 1}.
              <img
                class="h-6 w-6 inline-block rounded outline-1 opacity-50 outline-black/70 group-hover:opacity-100 mr-2 md:mr-0"
                alt={`This is ${player.name} avatar`}
                src={player.avatar}
              />
              <span class="cursor-pointer underline-offset-2 text-lg font-bold text-white whitespace-nowrap hover:underline">
                {player.name}
              </span>
            </TableCell>
            <TableCell className="text-center">
              <Tooltip content={player.faction}>
                <img
                  class="h-6 w-6 object-contain cursor-pointer"
                  alt={`This is a faction thumbnail for player ${player.name}`}
                  src={getIconForFaction(player.faction)}
                />
              </Tooltip>
            </TableCell>
            <TableCell>{player.rating}</TableCell>
            <TableCell className="text-center">{player.winRatio}</TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
  <a
    class="group btn mt-6 inline-flex w-full items-center justify-center gap-2 rounded-md bg-zinc-800/50 py-2 px-3 text-sm font-medium outline-offset-2 transition active:transition-none"
    href="/#"
    >Show full ladderboard
  </a>
</div>
