---
import { faker } from '@faker-js/faker';

interface Props {
  position: number;
  name: string;
  race: string;
  rating: number;
  winRatio: number;
}

const { position, name, race, rating, winRatio } = Astro.props;
---

<tr class="group transition hover:bg-gray-800">
  <td class="w-0 pl-3 pr-3 text-right font-bold text-gray-300 sm:pl-8"
    >{position}.</td
  >
  <td class="flex w-auto items-center gap-3 py-5 pr-6">
    <a>
      <img
        alt=""
        class="mr-2 inline-block h-6 w-6 rounded opacity-50 outline-1 outline-black/70 group-hover:opacity-100 md:mr-0"
        src={faker.image.avatar()}
      />
    </a>
    <a class="whitespace-nowrap">
      <span
        class="cursor-pointer whitespace-nowrap text-lg font-bold text-white underline-offset-2 hover:underline"
      >
        {name}
      </span>
    </a>
  </td>
  <td class="w-12 px-3 text-gray-200">{race}</td>
  <td class="w-12 px-3 text-gray-200">
    {rating}
  </td>
  <td class="w-auto pl-3 pr-3 text-gray-200 sm:pr-8">{winRatio} %</td>
</tr>
