---
import type { Article } from '@/shared/types';

const { title, content, date, tournament } = Astro.props as Article;

const tournamentClass = tournament ? 'border rounded border-yellow-300' : '';
---

<article
  class={`relative flex flex-col p-3 transition hover:bg-gray-800 ${tournamentClass}`}
>
  <h2 class="text-base font-semibold tracking-tight text-zinc-100">
    <div
      class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
    >
    </div>
    <a href="/eldars">
      <span
        class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"
      ></span>
      <span class="relative z-10">{title}</span>
    </a>
  </h2>
  {
    tournament ? (
      <div class="order-first flex flex-row items-center justify-between">
        <time class="relative z-10 mb-3 flex items-center text-sm text-zinc-500 pl-3.5">
          <span
            class="absolute inset-y-0 left-0 flex items-center"
            aria-hidden="true"
          >
            <span class="h-4 w-0.5 rounded-full bg-zinc-500" />
          </span>
          {date}
        </time>
        <img
          class="w-12 h-12"
          alt=""
          src="/images/str_power_sword_aptit_large.png"
        />
      </div>
    ) : (
      <time class="relative z-10 mb-3 order-first flex items-center text-sm text-zinc-500 pl-3.5">
        <span
          class="absolute inset-y-0 left-0 flex items-center"
          aria-hidden="true"
        >
          <span class="h-4 w-0.5 rounded-full bg-zinc-500" />
        </span>
        {date}
      </time>
    )
  }
  <p class="relative z-10 mt-2 text-sm text-zinc-400">{content}</p>
  <div
    aria-hidden="true"
    class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500 gap-2"
  >
    Read article {'>'}
  </div>
</article>
